In [1]:
%load_ext sql

# Import libraries
import configparser

# Load database params from dwh file 
config = configparser.ConfigParser()
config.read('dwh.cfg')

ENDPOINT    = config.get("CLUSTER","HOST")
DB          = config.get("CLUSTER","DB_NAME")
USER        = config.get("CLUSTER","DB_USER")
PASSWORD    = config.get("CLUSTER","DB_PASSWORD")
PORT        = config.get("CLUSTER","DB_PORT")


conn_string="postgresql://{}:{}@{}:{}/{}".format(USER, PASSWORD, ENDPOINT, PORT, DB)
print(conn_string)

%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.cb8hiobew9fe.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

In [2]:
# Validate staging_events table information
%sql select * from staging_events LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cb8hiobew9fe.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(None, 'Logged In', 'Christian', 'F', 0, 'Porter', None, 'free', 'Elkhart-Goshen, IN', 'GET', 'Home', '1540897318796', 10, None, 200, 1541641041796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"', 11),
 ('Rihanna', 'Logged In', 'Christian', 'F', 1, 'Porter', '293.82485000000003', 'free', 'Elkhart-Goshen, IN', 'PUT', 'NextSong', '1540897318796', 10, 'Rehab', 200, 1541641099796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"', 11),
 (None, 'Logged In', 'Christian', 'F', 2, 'Porter', None, 'free', 'Elkhart-Goshen, IN', 'GET', 'Upgrade', '1540897318796', 10, None, 200, 1541641113796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"', 11),
 (None, 'Logged Out', None, None, 0, None, None, 'free', None, 'GET', 'Home', None, 18, None, 200, 1541239749796, None, None),
 ('Slipknot', 'Logged In', 'Aiden', 'M', 0, 'Ramirez', '192.57424', 'paid', 'New York-Newark-Jersey City, NY-NJ-PA', 'PUT', 'NextSong', '1540283578796', 19, 'Opium Of The People (Album Version)', 200, 1541639510796, '"Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 20)]

In [4]:
# Validate songplays table information
%sql select count(*) from songplay_table;

 * postgresql://dwhuser:***@dwhcluster.cb8hiobew9fe.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(9957,)]

In [6]:
# Validate artists table information
%sql select * from artist_table LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cb8hiobew9fe.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('AR00B1I1187FB433EB', 'Eagle-Eye Cherry', 'Stockholm, Sweden', None, None),
 ('AR00DG71187B9B7FCB', 'Basslovers United', '', None, None),
 ('AR00FVC1187FB5BE3E', 'Panda', 'Monterrey, NL, México', '25.670839999999998', '-100.30953'),
 ('AR00JIO1187B9A5A15', 'Saigon', 'Brooklyn', '40.655070000000002', '-73.948880000000003'),
 ('AR00LNI1187FB444A5', 'Bruce BecVar', '', None, None)]